html,
body {
	background-color: #fff;
	color: #636b6f;
	font-family: "Nunito", sans-serif;
	font-weight: 200;
	height: 100vh;
	margin: 0;
}

.flex-center {
	align-items: center;

	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	margin-left: 50px;
	margin-top: 25px;
}

.title {
	font-size: 84px;
	font-family: "Nunito", sans-serif;
}

.links > a {
	position: relative;
	right: 0px;
	color: #636b6f;
	padding: 0 25px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.1rem;
	text-decoration: none;
	text-transform: uppercase;
}

.links {
	position: absolute;
	right: 0px;
	top: 50px;
	margin-right: 25px;
}

.m-b-md {
	margin-bottom: 30px;
}

.footerholder {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	position: fixed;
	text-align: center;
	width: 100%;
}

.footer {
	background: none repeat scroll 0 0;
	height: 30px;
	margin: auto;
	width: 400px;
}

.loginform {
	boder: 1px solid black;
	width: 200px;
}
table,
td,
th {
	text-align: center;
}

th:not(.no-padding),
td {
	padding: 15px;
}

table {
	border-spacing: 0.5rem;
	width: 100%;
}

th {
	background-color: #636b6f;
	position: relative;
	color: rgba(243, 244, 246);
	width: 100px;
}

td {
	background-color: #909093;
	color: rgba(243, 244, 246);
}

.no-padding a {
	display: flex;
	position: absolute;
	top: 0;
	bottom: 0;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #636b6f;
	width: 100%;
	height: 100%;
}
